name: spark401-ranger

services:
  ranger-db:
    image: postgres:13
    container_name: ranger-db
    restart: unless-stopped
    environment:
      # Ranger setup script EXPECT postgres superuser
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - ranger_pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 20
    networks: [spark401-spark]

  ranger-solr:
    image: solr:8
    container_name: ranger-solr
    restart: unless-stopped
    command: ["solr-precreate", "ranger_audits", "/opt/solr/server/solr/configsets/_default"]
    volumes:
      - ranger_solrdata:/var/solr
    networks: [spark401-spark]

  ranger-admin:
    image: apache/ranger:2.5.0
    container_name: ranger-admin
    restart: unless-stopped
    user: root
    depends_on:
      ranger-db:
        condition: service_healthy
      ranger-solr:
        condition: service_started
    environment:
      DB_FLAVOR: POSTGRES
      db_host: ranger-db
      db_name: ranger
      # these are for the install script
      db_root_user: postgres
      db_root_password: postgres
      db_user: rangeradmin
      db_password: rangeradmin

      # Solr audits
      audit_store: solr
      audit_solr_urls: http://ranger-solr:8983/solr/ranger_audits

      # Admin UI login
      ranger_admin_username: admin
      ranger_admin_password: admin

      # disable usersync for now
      ranger_usersync_password: ranger
    ports:
      - "6080:6080"
    networks: [spark401-spark]

networks:
  spark401-spark:
    external: true
    name: spark401-spark

volumes:
  ranger_solrdata:
  ranger_pgdata: